{% extends 'base.html' %}

{% block content %}
    
    <!DOCTYPE html>
    <html lang="">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Blog</title>
    
            <!-- Bootstrap CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>
        <body>
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Blog</h1>
                <hr>
                {% for post in posts %}
                <h2  ><a href=" {% url 'detail' post.pk %} " style="color:rgb(112, 75, 75);" > {{post.title|title}} </a></h2>
                <small>
                    {{post.created_on.date}}&nbsp;
                    Categoty: &nbsp;
                    {{post.categories}}&nbsp;
                </small>
                <p> {{post.body|slice:":300"}}... </p>
                <hr>
                {% endfor %}
            </div>
    
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Bootstrap JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
    </html>
    
{% endblock content %}
    
